:root {
  --background-color: #141429;
  --primary-title-color: #1f3f68;
  --primary-text-color: rgba(31, 63, 104, 0.6);
  --accent-color: #356ead;
  --background-color: #316099;
  --button-color: #5a98d0;
  --primary-white-color: #fff;
}
